<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="java:/hibernate/SessionFactory">
        <property name="connection.driver_class">${test.jdbc.driverClassName}</property>
        <property name="connection.url">${test.jdbc.url}</property>
        <property name="connection.username">${test.jdbc.username}</property>
        <property name="connection.password">${test.jdbc.password}</property>
        <property name="hibernate.dialect">${test.hibernate.dialect}</property>
        <property name="hibernate.jdbc.batch_size">25</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>        
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property>        

        <mapping class="gov.hhs.fhh.data.Race" />
        <mapping class="gov.hhs.fhh.data.AsianRaceType" />
        <mapping class="gov.hhs.fhh.data.NativeHawaiianRaceType" />
        <mapping class="gov.hhs.fhh.data.Ethnicity" />
        <mapping class="gov.hhs.fhh.data.HispanicEthnicityType" />
        <mapping class="gov.hhs.fhh.data.Disease" />
        <mapping class="gov.hhs.fhh.data.DiabetesDiseaseType" />
        <mapping class="gov.hhs.fhh.data.PsychologicalDisorderDiseaseType" />
        <mapping class="gov.hhs.fhh.data.LungDiseaseType" />
        <mapping class="gov.hhs.fhh.data.KidneyDiseaseType" />
        <mapping class="gov.hhs.fhh.data.CancerDiseaseType" />
        <mapping class="gov.hhs.fhh.data.GastrointestinalDisorderDiseaseType" />
        <mapping class="gov.hhs.fhh.data.HeartDiseaseType" />
        <mapping class="gov.hhs.fhh.data.BloodClotDiseaseType" />
        <mapping class="gov.hhs.fhh.data.DisplayString" />
    </session-factory>
</hibernate-configuration>
